[Unit]
Description=League of Legend bot

[Service]
User=tinwen
WorkingDirectory=/home/tinwen/projects/BotLol
ExecStart=python3 /home/tinwen/projectsBotLol/bot.py

[Install]
WantedBy=multi-user.target
